{%  extends 'layout.html' %}
{% block body %}
<div class="jumbotron text-center">  
  <img src="static\images\giphy (1).gif">
  <h1 class="intro">Welcome To Resource Visualization</h1>  
  <p class="lead">We analyzed the natural gas and oil reserves of the United States in past 20 years </p> 
  <br>
   <p class="lead">  <a href="/submit" style="border-style: solid; border-color:white; color:black; background-color:white; padding: 10px; border-radius:10px; text-decoration:none;" > Check it out </a></p></div>
   {% endblock %}