
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>  R VISUAL </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    </head>
    
        
        <div class="container", style="font-family: 'Arimo', sans-serif;">
        {%  include 'includes/_messages.html' %}
        {%  block body %}
        {%  endblock %}


        </div>
    <body style="background-color:black; color: white">
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
    </body>
</html>