{%  extends 'layout.html' %}
{%  block body %}

<!DOCTYPE html>
<head>
    <link rel = "stylesheet" href = "style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  </head><br><br><br>
  <body style = " color: white ;
  background-color: black">


<style>
        select {
border: 0;
color: gray;
font-weight: bold;
*background: #58B14C;
}
</style>

<center>
    <h1 style="font-family: 'Nunito', sans-serif;">{{ title }}</h1>
<div class="">
  <canvas id="chart" width="1000" height="400"></canvas>
</div>
    
    <script>

      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
          fillColor: "rgba(255, 0, 0, 0.23)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [
        {% for item in values %}
              {{ item }},
            {% endfor %}]
          }
    ]
      }

      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "white";
      Chart.defaults.global.scaleFontSize = 16;
      Chart.defaults.global.scaleFontColor = "white"
      
      
      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");

      steps = 10
      max = {{ max }}
      // draw bar chart
      var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: max,
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true, 
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });
  

    </script>
    <br>
    <br>
    <h2 style="font-family: 'Nunito', sans-serif;">Additional Statistics</h2style><br>
    <h5 style="font-family: 'Nunito', sans-serif;">Average: {{avg_oil_prod}} <br> Average Increase: {{a_increase}}%
    </h5>
  </center>
  <br>
  <br>
  <form action="" , method="POST">
    <div style="text-align:center">
    <div style="display:inline;"> Start: </div>
        <label for="lang"> <span>{{submit.start}}</span> </label>
        <select name="start" id="lang" style="width:250px">
        <!--    <option value="none" selected disabled hidden>Select an Option</option>    -->
        <option value="{{submit.start}}">  </option>
        <option value="2001">2001</option>
        <option value="2002">2002</option>
        <option value="2003">2003</option>
        <option value="2004">2004</option>
        <option value="2005">2005</option>
        <option value="2006">2006</option>
        <option value="2007">2007</option>
        <option value="2008">2008</option>
        <option value="2009">2009</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        </select>
    <div style="display:inline;"> End: </div>
        <label for="lang"> <span>{{submit.start}}</span> </label>
        <select name="end" id="lang" style="width:250px">
        <!--    <option value="none" selected disabled hidden>Select an Option</option>    -->
        <option value="{{submit.end}}">  </option>
        <option value="2001">2001</option>
        <option value="2002">2002</option>
        <option value="2003">2003</option>
        <option value="2004">2004</option>
        <option value="2005">2005</option>
        <option value="2006">2006</option>
        <option value="2007">2007</option>
        <option value="2008">2008</option>
        <option value="2009">2009</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        </select>

        <div style="display:inline;"> Type: </div>
        <label for="lang"> <span>{{submit.select}}</span> </label>
        <select name="selecttype" id="lang" style="width:300px">
        <!--    <option value="none" selected disabled hidden>Select an Option</option>    -->
        <option value="{{submit.select}}">  </option>
            <option value="gas pro">Number Of Gas Producing Oil Wells</option>
            <option value="gas_withdr">Natural Gas Gross Withdrawals And Production</option>
            <option value="oil_res">Crude Oil Proved Reserves</option>
            <option value="oil_pro">Crude Oil Production</option>
        </select>
        <div style="display:inline;"> State: </div>
        <label for="lang"> <span>{{submit.state}}</span> </label>
            <select name="state" id="lang">
            <!--    <option value="none" selected disabled hidden>Select an Option</option>    -->
            <option value="{{submit.state}}">  </option>
            <option value="USA-AL">AL</option>
            <option value="USA-AK">AK</option>
            <option value="USA-AZ">AZ</option>
            <option value="USA-AR">AR</option>
            <option value="CALIFORNIA">CA</option>
            <option value="COLORADO">CO</option>
            <option value="USA-CT">CT</option>
            <option value="USA-DE">DE</option>
            <option value="USA-DC">DC</option>
            <option value="FLORIDA">FL</option>
            <option value="USA-GA">GA</option>
            <option value="USA-HI">HI</option>
            <option value="USA-ID">ID</option>
            <option value="USA-IL">IL</option>
            <option value="USA-IN">IN</option>
            <option value="USA-IA">IA</option>
            <option value="USA-KS">KS</option>
            <option value="USA-KY">KY</option>
            <option value="USA-LA">LA</option>
            <option value="USA-ME">ME</option>
            <option value="USA-MD">MD</option>
            <option value="USA-MA">MA</option>
            <option value="USA-MI">MI</option>
            <option value="USA-MN">MN</option>
            <option value="USA-MS">MS</option>
            <option value="USA-MO">MO</option>
            <option value="USA-MT">MT</option>
            <option value="USA-NE">NE</option>
            <option value="USA-NV">NV</option>
            <option value="USA-NH">NH</option>
            <option value="USA-NJ">NJ</option>
            <option value="USA-NM">NM</option>
            <option value="NEW YORK">NY</option>
            <option value="USA-NC">NC</option>
            <option value="USA-ND">ND</option>
            <option value="OHIO">OH</option>
            <option value="USA-OK">OK</option>
            <option value="USA-OR">OR</option>
            <option value="USA-PA">PA</option>
            <option value="USA-RI">RI</option>
            <option value="USA-SC">SC</option>
            <option value="USA-SD">SD</option>
            <option value="USA-TN">TN</option>
            <option value="TEXAS">TX</option>
            <option value="USA-UT">UT</option>
            <option value="USA-VT">VT</option>
            <option value="USA-VA">VA</option>
            <option value="USA-WA">WA</option>
            <option value="USA-WV">WV</option>
            <option value="USA-WI">WI</option>
            <option value="USA-WY">WY</option>
            </select>
    </div>
    <br>
<div style="text-align:center">
    <p><input type="submit"  class="btn btn-outline-secondary" value="Submit"></p>
</div>
</form>

</body>
</html>

{%  endblock %}